<form action="/api/produto/Save" method="Post">
    <label for="Id">Nome:</label>
    <input type="number" name="Id" id="Id">
    <br>
    <label for="Nome">Nome:</label>
    <input type="text" name="Nome" id="Nome">
    <br>
    <label for="Preco">Preco:</label>
    <input type="number" name="Preco" id="Preco">
    <br>
    <input type="submit" value="Salvar">
</form>

@if(ViewBag.validacao != null)
{
    <label>@ViewBag.validacao</label>
}