<form action="/api/produto" method="POST">
    <input type="hidden" name="Id">
    <br>
    <label for="Nome">Nome:</label>
    <input type="text" name="Nome" id="Nome">
    <br>
    <label for="Preco">Preco:</label>
    <input type="number" name="Preco" id="Preco">
    <br>
    <input type="submit" value="Salvar">
</form>
