@model modulo3.Models.Produto


<form asp-controller="Produto" asp-action="Save" method="Post">
    <label for="Id">Id:</label>
    <input  asp-for="Id" asp-format="int">
    <span asp-validation-for="Id"></span>
    <br>
    <label for="Nome">Nome:</label>
    <input asp-for="Nome">
    <span asp-validation-for="Nome"></span>
    <br>
    <label for="Preco">Preco:</label>
    <input asp-for="Preco">
    <span asp-validation-for="Preco"></span>
    <br>
    <input type="submit" value="Salvar">
</form>

@if(ViewBag.validacao != null)
{
    <label>@ViewBag.validacao</label>
}